@{
    ViewData["Title"] = "Home Page";
}

<forn asp-action="Index">
    <label> nhap ho ten:</label>
    <input type="text" name="fullname">
    <lable>nhap dia chi:</lable>
    <input type="text" name="Address">
    <input type="submit" value="gui du lieu"
</forn>
<h1>@ViewBag.message</h1>
